.inner {
    width: 100%;
    padding-right: $padding-sp;
    padding-left: $padding-sp;
    margin-right: auto;
    margin-left: auto;
    max-width: 500px;

    @include mq("md") {
        max-width: $inner + strip-unit($padding-pc) * 2;
        padding-right: $padding-pc;
        padding-left: $padding-pc;
    }
}

.heading {
    position: relative;
    display: inline-block;
    padding: rem(10);
    font-family: $cormorant;
    color: $black;
    @include font(54, 65, 0, $bold);
    border-bottom: 1px solid $blue;
}


.header {
    width: 100%;
    padding-top: rem(40);
    padding-bottom: rem(39);
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    background-color: #fff;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-right: rem(30);
    padding-left: rem(30);
}

.header__logo {
    display: block;
    width: rem(122);
    transition: opacity 0.3s ease;

    img {
        aspect-ratio: 122 / 51;
        object-fit: contain;
    }
}

.header__logo:hover {
    opacity: 0.6;
}

.header__nav {
    display: none;
}

.header__hamburger {
    position: relative;
    z-index: 20;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: rem(55);
    height: rem(40);
    padding: 0;
    transition: opacity 0.3s ease;
}

.header__hamburger:hover {
    opacity: 0.6;
}

.header__hamburger-line {
    display: block;
    width: 100%;
    height: 3px;
    background-color: $blue;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.header__hamburger.is-open .header__hamburger-line:nth-child(1) {
    transform: translateY(rem(18)) rotate(35deg);
}

.header__hamburger.is-open .header__hamburger-line:nth-child(2) {
    opacity: 0;
    // width: rem(3);
    // background-color: red;
    // margin-inline: auto;
    // z-index: 1000;
}

.header__hamburger.is-open .header__hamburger-line:nth-child(3) {
    transform: translateY(rem(-18)) rotate(-35deg);
}

.drawer {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    background-color: $white;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.drawer.is-open {
    opacity: 1;
    visibility: visible;
}

.drawer__inner {
    width: 100%;
    min-height: 100vh;
    padding: rem(40) rem(30) rem(100);
}

.drawer__logo {
    display: block;
    width: rem(122);
    transition: opacity 0.3s ease;
}

.drawer__logo:hover {
    opacity: 0.6;
}

.drawer__nav {
    width: rem(330);
    margin-top: rem(127);
    margin-left: auto;
    margin-right: auto;
}

.drawer__item+.drawer__item {
    margin-top: rem(36);
}

.drawer__link {
    position: relative;
    display: block;
    padding: rem(12) rem(22) rem(11) rem(24);
    font-family: $cormorant;
    color: $black;
    @include font(40, 48, 0, 700);
    border-left: 1px solid $blue;
    border-bottom: 1px solid $blue;
    transition: opacity 0.3s ease;
}

.drawer__link:hover {
    opacity: 0.6;
}

.footer {
    width: 100%;
    background-color: #2F3841;
}

.footer__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: rem(50);
    padding-bottom: rem(18);
}

.footer__logo {
    display: block;
    width: rem(150);
    margin-inline: auto;
    transition: opacity 0.3s ease;
}

.footer__logo:hover {
    opacity: 0.6;
}

.footer__sns-list {
    display: flex;
    align-items: center;
    column-gap: rem(30);
    margin-top: rem(50);
}

.footer__sns-link {
    display: block;
    width: rem(45);
    transition: opacity 0.3s ease;
}

.footer__sns-link:hover {
    opacity: 0.6;
}

.footer__copy {
    margin-top: rem(49);
    color: $white;
    @include font(16, 23, 0, 400);
}

.pagination-arrow {
    position: relative;
    display: block;
    transition: transform 0.3s ease;
}

.pagination-arrow::before {
    position: absolute;
    top: 50%;
    left: 50%;
    width: rem(80);
    height: rem(44);
    content: "";
    transform: translate(-50%, -50%);
}

.pagination-arrow--prev:hover {
    transform: translateX(rem(-6));
}

.pagination-arrow--next:hover {
    transform: translateX(rem(6));
}

.pagination-arrow-icon {
    display: block;
    width: rem(50);
    height: rem(8);
}

.pagination-arrow--next .pagination-arrow-icon {
    transform: scaleX(-1);
}

.pagination-current {
    margin-left: rem(42);
    margin-right: rem(42);
    color: $black;
    @include font(20, 29, 0, $medium);
}

.back-link {
    display: flex;
    align-items: center;
    gap: rem(40);
    color: $black;
    transition: opacity 0.3s ease;
    @include font(20, 29, 0, $medium);
}

.back-link:hover {
    opacity: 0.6;
}

.back-link::before {
    flex-shrink: 0;
    width: rem(50);
    height: rem(8);
    content: "";
    background-image: url("../img/pagenation-arrow.svg");
    background-repeat: no-repeat;
    background-size: contain;
    transition: transform 0.3s ease;
}

.back-link:hover::before {
    transform: translateX(rem(-6));
}

@include mq("md") {

    .header {
        padding-top: rem(19);
        padding-bottom: rem(20);
    }

    .header__inner {
        padding-left: rem(50);
        padding-right: rem(48);
    }

    .heading {
        padding: rem(10);
        @include font(54, 65, 0, $bold);
    }

    .header__logo {
        width: rem(122);
    }

    .header__hamburger {
        width: rem(55);
        height: rem(40);
        padding: 0;
    }

    .header__hamburger.is-open .header__hamburger-line:nth-child(1) {
        transform: translateY(rem(18)) rotate(35deg);
    }

    .header__hamburger.is-open .header__hamburger-line:nth-child(3) {
        transform: translateY(rem(-18)) rotate(-35deg);
    }

    .drawer__inner {
        padding-top: rem(51);
        padding-right: rem(30);
        padding-left: rem(31);
    }

    .drawer__logo {
        width: rem(73);
    }

    .drawer__nav {
        width: rem(192);
        margin-top: rem(127);
    }

    .drawer__item+.drawer__item {
        margin-top: rem(28);
    }

    .drawer__link {
        padding-bottom: rem(11);
        padding-left: rem(15);
        @include font(22, 27, 0, 500);
    }

    .drawer__link::before {
        height: rem(42);
    }

    .footer__inner {
        position: relative;
        display: block;
        min-height: rem(194);
        max-width: rem(1450);
        padding-top: rem(55);
        padding-bottom: rem(19);
        padding: rem(55) rem(25) rem(25) rem(25);
        margin-inline: auto;
    }

    .footer__top {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }

    .footer__logo {
        margin-inline: initial;
        width: rem(150);
    }

    .footer__sns-list {
        column-gap: rem(16);
        margin-top: 0;
    }

    .footer__sns-link {
        width: rem(30);
    }

    .footer__copy {
        text-align: center;
        display: block;
        margin-top: rem(99);
        @include font(10, 14, 0, 400);
    }

    .pagination-arrow-icon {
        width: rem(50);
        height: rem(8);
    }

    .pagination-current {
        margin-left: rem(42);
        margin-right: rem(42);
        @include font(20, 29, 0, $medium);
    }

    .back-link {
        gap: rem(40);
        @include font(20, 29, 0, $medium);
    }

    .back-link::before {
        width: rem(50);
        height: rem(8);
    }

    .back-link:hover::before {
        transform: translateX(rem(-6));
    }
}

@include mq(1100) {

    .header__nav {
        display: block;
    }

    .header__nav-list {
        display: flex;
        align-items: center;
        column-gap: rem(20);
    }

    .header__nav-link {
        position: relative;
        display: block;
        padding: rem(10);
        color: #111827;
        @include font(20, 29, 0, 500);
        transition: 0.3s;
    }

    .header__nav-link::after {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        content: "";
        background-color: #9bbdd5;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 0.3s ease;
    }

    .header__nav-link.is-current::after {
        transform: scaleX(1);
    }

    .header__nav-link:hover::after {
        transform: scaleX(1);
        transform-origin: left;
    }

    .header__hamburger {
        display: none;
    }

    .drawer {
        display: none;
    }
}
