.movie {
  width: 100%;
  padding-top: rem(100);
  padding-bottom: rem(100);
}

.movie__inner {
  width: 100%;
  padding-right: rem(30);
  padding-left: rem(30);
  margin-right: auto;
  margin-left: auto;
}

.movie__heading-wrap {
  text-align: center;
}

.movie__link {
  display: block;
  color: $black;
  transition: opacity 0.3s ease;
}

.movie__link:hover {
  opacity: 0.6;
}

.movie__list {
  margin-top: rem(100);
}

.movie__item + .movie__item {
  margin-top: rem(65);
}

.movie__thumb {
  display: block;
  width: 100%;
  aspect-ratio: 690 / 346;
  object-fit: cover;
}

.movie__title {
  margin-top: rem(20);
  color: $black;
  @include font(24, 35, 0, 600);
}

.movie__pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: rem(150);
}

@include mq("md") {
  .movie {
    padding-top: rem(100);
    padding-bottom: rem(150);
  }

  .movie__inner {
    max-width: rem(1250);
    padding-right: rem(25);
    padding-left: rem(25);
  }

  .movie__list {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    column-gap: rem(40);
    row-gap: rem(65);
    margin-top: rem(100);
  }

  .movie__item + .movie__item {
    margin-top: 0;
  }

  .movie__thumb {
    aspect-ratio: 580 / 291;
  }

  .movie__title {
    margin-top: rem(20);
    @include font(24, 35, 0, 500);
  }

  .movie__pagination {
    margin-top: rem(150);
  }
}
