.special {
  width: 100%;
  padding-top: rem(57);
  padding-bottom: rem(56);
}

.special__inner {
  width: 100%;
  padding-right: rem(23);
  padding-left: rem(23);
  margin-right: auto;
  margin-left: auto;
}

.special__heading-wrap {
  text-align: center;
}

.special__list {
  margin-top: rem(46);
}

.special__item + .special__item {
  margin-top: rem(28);
}

.special__link {
  display: block;
  color: $black;
}

.special__image {
  aspect-ratio: 335 / 166;
  object-fit: cover;
}

.special__title {
  display: block;
  margin-top: rem(8);
  color: $black;
  @include font(12, 18, 0, 700);
}

.special__pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: rem(66);
}

@include mq("md") {
  .special {
    padding-top: rem(134);
    padding-bottom: rem(147);
  }

  .special__inner {
    max-width: rem(1006);
    padding-right: rem(30);
    padding-left: rem(30);
  }

  .special__list {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    column-gap: rem(29);
    row-gap: rem(64);
    margin-top: rem(93);
  }

  .special__item + .special__item {
    margin-top: 0;
  }

  .special__image {
    aspect-ratio: 300 / 150;
  }

  .special__title {
    margin-top: rem(14);
    @include font(16, 24, 0, 700);
  }

  .special__pagination {
    margin-top: rem(144);
  }
}
