.special {
  width: 100%;
  padding-top: rem(100);
  padding-bottom: rem(100);
}

.special__inner {
  width: 100%;
  padding-right: rem(60);
  padding-left: rem(60);
  margin-right: auto;
  margin-left: auto;
}

.special__heading-wrap {
  text-align: center;
}

.special__list {
  margin-top: rem(100);
}

.special__item + .special__item {
  margin-top: rem(65);
}

.special__link {
  display: block;
  color: $black;
}

.special__image {
  aspect-ratio: 630 / 315;
  object-fit: cover;
}

.special__title {
  display: block;
  margin-top: rem(20);
  color: $black;
  @include font(24, 35, 0, 500);
}

.special__pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: rem(150);
}

@include mq("md") {
  .special {
    padding-top: rem(100);
    padding-bottom: rem(150);
  }

  .special__inner {
    max-width: rem(1250);
    padding-right: rem(25);
    padding-left: rem(25);
  }

  .special__list {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    column-gap: rem(30);
    row-gap: rem(65);
    margin-top: rem(100);
  }

  .special__item + .special__item {
    margin-top: 0;
  }

  .special__image {
    aspect-ratio: 380 / 190;
  }

  .special__title {
    margin-top: rem(14);
    @include font(22, 35, 0, 500);
  }

  .special__pagination {
    margin-top: rem(150);
  }
}
